*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(187, 116, 9);
}
.wrapper{
    width: 807px;
    margin: 0 auto;
}
h1{
    text-transform: uppercase;
    font-style: italic;
    font-size: 50px;
    color: white;
}

#map{
    width: 800px;
    height: 600px;
    border: 3px solid white;
}
.result{
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}
#distance{
    font-size: 30px;
    color: rgb(255, 255, 255);
}